<html>
	
	<head>
		<title>InstagramPrinter</title>
		<link type="text/css" rel="stylesheet" href="../assets/css/app.css" />
	</head>

	<body>
		<div class='navbar'>
			<div class='page-title'>InstagramPrinter</div>
		</div>
		<div class='container'>
			
			<div class='content-left'>
				
				<img 
					src='http://distilleryimage10.s3.amazonaws.com/48dd8938ef1c11e2aec722000ae900e0_7.jpg'
					width='612'
					height='612'
					alt='InstagramPrinter'
				/>

			</div>
			
			<div class='content-right '>

				<div class='post-details'>

					<div class='post-owner-avatar'>
						<img
							src='http://images.ak.instagram.com/profiles/profile_209007001_75sq_1374171128.jpg'
							width='40'
							height='40'
						/>
					</div>

					<div class='post-owner-username'>
						saidozcan
						
						<div class='post-date'>
							17 July 2013, 23:05
						</div>

					</div>

				</div>

				<div class='seperator'></div>

				<div class='likes'>
					<div class='heart-icon'>
						<img
							src='../assets/img/heart.png'
							width='14'
						/>
					</div>
					<div class='likes-text'>meryemmekinci, ahmetcosknn ve 2 kisi begendi.</div>

				</div>				

				<div class='seperator'></div>

				<div class='comments '>
					
						<div class='comment'>
							<div class='comment-avatar'>
								<img 
									src="http://images.ak.instagram.com/profiles/profile_209007001_75sq_1374171128.jpg"
									width='32'
									height='32'
									alt='saidozcan'
								/>
							</div>
							
							<div class='comment-owner'>

								saidozcan

							</div>
							<br/>
							<div class='comment-text'>
								Yorumm
							</div>
						</div>
					
						<div class='comment'>
							<div class='comment-avatar'>
								<img 
									src="http://images.ak.instagram.com/profiles/profile_209007001_75sq_1374171128.jpg"
									width='32'
									height='32'
									alt='saidozcan'
								/>
							</div>
							
							<div class='comment-owner'>

								saidozcan

							</div>
							<br/>
							<div class='comment-text'>
								QpqpqpqQpqpqpqQpqpqpqQpqpqpqQpqpqpqQpqpqpqQpqpqpqQpqpqpq
							</div>
						</div>
					
						<div class='comment'>
							<div class='comment-avatar'>
								<img 
									src="http://images.ak.instagram.com/profiles/profile_209007001_75sq_1374171128.jpg"
									width='32'
									height='32'
									alt='saidozcan'
								/>
							</div>
							
							<div class='comment-owner'>

								saidozcan

							</div>
							<br/>
							<div class='comment-text'>
								Quyqyquyshahshshshshhshshahahshahahshhsbshshshsnshshshsbbsnsbsbsnshsnsbsbsnnsnsnsnsnsnsnsnsndnsnnsnsndndnsndndnndndnd
							</div>
						</div>
					
						<div class='comment'>
							<div class='comment-avatar'>
								<img 
									src="http://images.ak.instagram.com/profiles/profile_209007001_75sq_1374171128.jpg"
									width='32'
									height='32'
									alt='saidozcan'
								/>
							</div>
							
							<div class='comment-owner'>

								saidozcan

							</div>
							<br/>
							<div class='comment-text'>
								Uquahzbausiqhsjsjjsnsnsjsiiwjwnsnsnnwisos. Jsiskeijsjs dnieiwiqbsjs
							</div>
						</div>
					
				</div>
		</div>
	</body>

</html>