#################################################
# config.yaml
# 01 Aug 2013
# Said ÖZCAN									
# Instagram Printer
#################################################

accessToken: ''

searchHashtag: ''

delayTime: 30.0

pageTitle: 'InstagramPrinter'

templateFileName: 'main.html'