<html>
	
	<head>
		<title>{$title}</title>
		<link type="text/css" rel="stylesheet" href="../assets/css/app.css" />
	</head>

	<body>
		<div class='navbar'>
			<div class='page-title'>{$title}</div>
		</div>
		<div class='container'>
			
			<div class='content-left'>
				
				<img 
					src='{$photoUrl}'
					width='{$photoWidth}'
					height='{$photoHeight}'
					alt='{$title}'
				/>

			</div>
			
			<div class='content-right '>

				<div class='post-details'>

					<div class='post-owner-avatar'>
						<img
							src='{$postOwnerAvatar}'
							width='40'
							height='40'
						/>
					</div>

					<div class='post-owner-username'>
						{$postOwner}
						
						<div class='post-date'>
							{$postDate}
						</div>

					</div>

				</div>

				<div class='seperator'></div>

				<div class='likes'>
					<div class='heart-icon'>
						<img
							src='../assets/img/heart.png'
							width='14'
						/>
					</div>
					<div class='likes-text'>{$likes}</div>

				</div>				

				<div class='seperator'></div>

				<div class='comments '>
					{$comments}
						<div class='comment'>
							<div class='comment-avatar'>
								<img 
									src="{$commentOwnerAvatar}"
									width='32'
									height='32'
									alt='{$commentOwner}'
								/>
							</div>
							
							<div class='comment-owner'>

								{$commentOwner}

							</div>
							<br/>
							<div class='comment-text'>
								{$commentText}
							</div>
						</div>
					{/$comments}
				</div>
		</div>
	</body>

</html>